{% extends 'App1/base.html' %} {% load static %} {% block title %} Template
hecho con Herencia {% endblock title %} {% block main %}
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle"
            src="{% static 'App1/assets/img/03.jpg'%}"
            alt="..."
          />
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Estamos en cursos.html!</h2>
          <p>Este es un template heredado del base.html</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main %}
